{% extends "master.html" %}

{% block title %}
  Add Engagement-Undertaking Assignment
{% endblock %}

{% block content %}
  <h1>
    Add Engagement-Undertaking Assignment
    <button type="submit" form="add-form">Save</button>
    <a href="{% url 'engagement_order_version_assignments' %}">
      <button type="button">Cancel</button>
    </a>
  </h1>
  <form id="add-form" method="post" action="{% url 'engagement_order_version_assignments' %}">
    {% csrf_token %}
    {{ form.as_p }}
  </form>
{% endblock %}
