{% extends "master.html" %}

{% block title %}
  Vendor Manager – Engagements
{% endblock %}

{% block content %}
  <h1>Engagements</h1>
  
  <table border="1" style="border-color: black;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Person ID</th>
        <th>Person</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Daily Rate</th>
        <th>FTE</th>
      </tr>
    </thead>
    <tbody>
      {% for x in myengagements %}
        <tr>
          <td><a href="{% url 'engagement_details' x.id %}">{{ x.id }}</a></td>
          <td><a href="{% url 'person_details' x.person.id %}">{{ x.person.id }}</a></td>
          <td><a href="{% url 'person_details' x.person.id %}">{{ x.person }}</a></td>
          <td>{{ x.start_date|date:"Y-m-d" }}</td>
          <td>{{ x.end_date|date:"Y-m-d" }}</td>
          <td>{{ x.daily_rate }}</td>
          <td>{{ x.fte }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Back to <a href="/">Home</a></p>
{% endblock %}