{% extends "master.html" %}

{% block title %}
  Edit Engagement-Undertaking Assignment
{% endblock %}

{% block content %}
  <h1>
    Edit Engagement-Undertaking Assignment: {{ item.id }}
    <button type="submit" form="edit-form">Save</button>
    <a href="/engagement_undertaking_assignments/{{ item.id }}">
      <button type="button">Cancel</button>
    </a>
  </h1>
  <form id="edit-form" method="post" action="/engagement_undertaking_assignments/{{ item.id }}">
    {% csrf_token %}
    {{ form.as_p }}
  </form>
{% endblock %}
