{% extends "master.html" %}

{% block title %}
  Vendor Manager – Companies
{% endblock %}

{% block content %}
  <h1>Companies</h1>
  
  <table border="1" style="border-color: black;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>e-mail</th>
      </tr>
    </thead>
    <tbody>
      {% for x in mycompanies %}
        <tr>
          <td><a href="{% url 'company_details' x.id %}">{{ x.id }}</a></td>
          <td>{{ x.name }}</td>
          <td>{{ x.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Back to <a href="/">Home</a></p>
{% endblock %}